# rank()

In [ ]:

select * , rank() over(order by sales desc) Rank_ # desc--> descending order
from [dbo].[Advancedsql-_]  # sales ---> column name

# dense_rank()

In [ ]:

select * , rank() over(order by sales desc) Rank_,
dense_rank()  over(order by sales desc ) Dense_rank_

from [dbo].[dense_rank]

# row_number()

In [ ]:

select * , rank() over(order by sales desc) Rank_,

row_number() over(order by sales desc) row_num
from [dbo].[dense_rank]

# row_between(),preceding ,following, unbounded preceding and following

In [ ]:

select * from [dbo].[Row_between];

select *, sum(sales) over(order by date rows between 1 preceding and 1 following)total_sales_today_tomorrow_nextday
from [dbo].[Row_between];  # date in ordered way

select *, sum(sales) over(order by date rows between unbounded preceding and unbounded following)
  total_sales_today_tomorrow_nextday
from [dbo].[Row_between];

# Running sum

In [ ]:
select *, sum(sales) over(order by date rows between unbounded preceding and current row) runnning_sum from [dbo].[running_sum];

# running sum with partion

In [ ]:
# Partion in alphabetical order then running sum
select *, sum(sales) over(partition by state order by date rows between unbounded
preceding and current row) running_total from [dbo].[running_sum_partion];

# first_value(), last_value()

In [ ]:
# last_value()---> there must be provide rows between unbounded preceding
select *, first_value(sales) over(partition by state order by date) first_day_sales from [dbo].[first_last_nth]
select *, last_value(sales) over(partition by state order by date rows between unbounded preceding and
unbounded following) last_day_sales from [dbo].[first_last_nth]