# lecture 12 13 escape sequence

In [23]:
print(" \\\" \\\'")
print("this is \\\\ double backslash")
print("this is '\\\\' double backslash")
print("these are /\/\/\/\ mountains")
print("he is \t awesome (use escape sequence instead of manual)")
print("\\"+"\"","\\n","\\t \\'")
print("\\\" \\n \\t \\\'")

 \" \'
this is \\ double backslash
this is '\\' double backslash
these are /\/\/\/\ mountains
he is 	 awesome (use escape sequence instead of manual)
\" \n \t \'
\" \n \t \'

# Lecture 15 16 (to print emoji using unicode)

In [19]:
print("line A \\n line B")
print(r"line A \\n line B")
print(r"line A \" line B")
print("\U0001F600")
print("\U0001F709"+"Ishu")
print("\U0001F786")
print("\U0001F787")
print("\U0001F999")
print("\U0001F628")
print()
print((2+3)*5/2%6)
print("arman " * (5))
print("arman" + "/2")

line A \n line B
line A \\n line B
line A \" line B
ðŸ˜€
ðŸœ‰Ishu
ðŸž†
ðŸž‡
ðŸ¦™
ðŸ˜¨

0.5
arman arman arman arman arman
arman/2

In [5]:
name,age="arman","18"
print("hello "+ name + " your age is "+ str(age)
#print("hello {0} your age is {1}".format(name,age + 1))
#print(f"hello {name} your age is {age }") # clean
#print("hello",name,"your age is",age)

SyntaxError: unexpected EOF while parsing (Temp/ipykernel_11260/4016729717.py, line 5)

In [6]:
a=b=c=2
print(a+b+c)

6

In [69]:
a=int(input("enter first num: "))
b=int(input("enter second num: "))
c=int(input("enter third num: "))
avg=(a+b+c)/3
avg1=int(avg)
print(type(avg))
print(f"avg of these three numbers are {avg1}")

enter first num: 2
enter second num: 2
enter third num: 2
<class 'float'>
avg of these three numbers are 2

In [46]:
name,age=input("enter your name and age: ").split(',')
print("your name ",name)
print("your age",age)

enter your name and age: Mohammand Arman , 18
your name Mohammand Arman
your age  18

In [76]:
a="python"
#print(a[2])
for i in a:
    print(a[-1],"\n")

n

n

n

n

n

n

In [4]:

a=[1,2,3,4,5,6,7,8,9]
b=list(filter(lambda x:(x%2==0),a))
print(b)

[2, 4, 6, 8]

In [39]:
a=[1,2,3,4,5,6,7,8,9]
b=list(map(lambda x:(x**2),a))
print(b)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [8]:
from functools import reduce
a=[1,2,3,5,4]
b=reduce(lambda x,y:x*y,a)
print(b)

120

# lecture 26 to 33

In [37]:
#a="arman csds niet"
#print(a[-3:10])
# print(a[:])
# print(a[-8:5])
# print(a[-4:7])
# print(a[::2])
# print(a[::-2])
#print("armannietcsds"[5: :-3])
# print("armna"[2::-1])
# print("armancsds"[-1:-5:-1])
# print("armanfrombihar"[:])
#  a="armanfrombihar"
# # b="india"
# c="bihar"
# print(len(b+c))
# print(b.upper())
# print(a.lower())
# a=input("Enter your name:  ")
# reverse=a[::-1]
# print(reverse)
# print(f"name before slicing {a} and after slicing {reverse}")
# a=len(input("Enter your name: "))
# print(f"lenght of your name is {a}")
a="i am mohammad arman, persuing b.tech from noida ,niet college. my college is autonomous and also a grade and all over rank in  india in phrmacy is 43rd"
#a="arman"
#print(a.title())
#print("hi i am arman",title())
# print(a.count("a"))
# print(a.count(a))
# a="hi i am mohammad Arman"
# print(len(a))
print(a.title())

print(a.upper())
print(a.count("a"))
print(len(a))

I Am Mohammad Arman, Persuing B.Tech From Noida ,Niet College. My College Is Autonomous And Also A Grade And All Over Rank In  India In Phrmacy Is 43Rd
I AM MOHAMMAD ARMAN, PERSUING B.TECH FROM NOIDA ,NIET COLLEGE. MY COLLEGE IS AUTONOMOUS AND ALSO A GRADE AND ALL OVER RANK IN  INDIA IN PHRMACY IS 43RD
16
151

# importan notes

In [22]:
a="hi i am mohammad Arman".split(",")
b="i am a nietian".split(",")
print(a+b)
# print(len(a))
# print(a.title())
# print(a.lower())
# print(a.upper())
# print("m",a.count("m"))
# #print("n or i",a.count("n" or "i"))#here count only last one
# print("n and i",a.count("n" and 'i'))
print(a)
print(a.reverse())

['hi i am mohammad Arman', 'i am a nietian']
['hi i am mohammad Arman']
None

In [48]:
a=input("enter your name: ")
b=input("choose any character to count: ")

print(len(a))
print(a.count(b))#here to care.don't take string,it's take by default str

enter your name: Mohammad Arman
choose any character to count:      a
14
0

In [2]:
name,char=input("Enter comma separated name and character: ").split(",")
print(f"length of your name is {len(name)}")
print(f"character count: {name.count(char)}")

Enter comma separated name and character:     Arman ,a
length of your name is 10
character count: 1

In [135]:
#name,char=input("Enter your with comma separated and character: ").replace(" ", "").split(",")   
name,char=input("Enter your name with comma sepatated and chr: ").split(",")
print(f"length of your name: {len(name)}")
#print(f"number of character in your name: {name.lower().count(char.lower())}")
print(f"number of character in your name: {name.strip().lower().count(char.strip().lower())}")

Enter your name with comma sepatated and chr: Arman , a
length of your name: 6
number of character in your name: 2

In [25]:
a="             Arman      "
b="     ...........  "
c="            Mohammad    Arman   csds   niet   "
print(len(a))
print(a+b)
print(a.lstrip() + b)
print(a.rstrip() + b + c)
print(a.strip()+b.strip() +c.strip())
print(c.replace(" ",""))

24
             Arman           ...........
Arman           ...........
             Arman     ...........              Mohammad    Arman   csds   niet
Arman...........Mohammad    Arman   csds   niet
MohammadArmancsdsniet

In [18]:
team,player=input("Enter your teammates name with comma separated and particular player name to search: ").replace(" ","").split(",")
print(f"length of team : {len(team)}")
print("Team name",team)
print(f"number of character is : {team.lower().count(player.lower())}")

Enter your teammates name with comma separated and particular player name to search: arman.a,a
length of team : 7
Team name arman.a
number of character is : 3

In [19]:
a="    . Arman .+      "
b="               ........ hi .."
print(a+b)
print(len(a+b))
print(a.strip())
print(b.strip())
print(a.strip()+b)

    . Arman .+                     ........ hi ..
49
. Arman .+
........ hi ..
. Arman .+               ........ hi ..

# Replace and find

In [1]:
a="arman niet csds noida"
print(a.replace(" ", "_"))

arman_niet_csds_noida

In [41]:
# a="arman niet noida csds noida"
# # print(a.replace("noida","greater noida",1))
# print(a.replace(" ","_"))
# print(a.replace("","_"))
# print(a.replace("noida","India",2))
# print(a.find("niet"))
# b="arman niet noida niet"
# print(b.find("niet",4))
st="is she is beautiful and she is good dancer"
print(st.find("is",2))
isf=st.find("is")
iss=st.find("is",isf+1)
c=st.find("is",2)
is3=c+1
print(st.find("is",is3))
print(st)
print(st.find("is",iss+1))
print(iss)
print(len(st))
# find=input("Enter a string: ")
# print(find.find("a",6))
# print(a.replace("niet","kalasingham"))

7
28
is she is beautiful and she is good dancer
28
7
42

In [46]:
st,fid=input("enter a string with comma separated to find: ").replace(" ","").split(",")
print(st.find("fid"))
print(len(st+fid))

enter a string with comma separated to find: arman noida from bihar,b
-1
20

In [56]:
name="Mohammad Arman"
print(len(name))
print(name.center(18,"*"))
nam=input("Your name: ")
b=len(nam)+4
print(nam.center(b,"*"))

14
**Mohammad Arman**
Your name: arman
**arman**

In [24]:
name=input("Enter your name: ")
print(name.center(len(name)+8,"*"))
print(name.center(len(name)+4,"*"))

Enter your name: arman
****arman****
**arman**

# string immutable in pyton

In [82]:
string="string"
#print(string.replace("t","T")) # we can replace
string.replace("r","R") # after print no changing
print(string) 
string+=" is immutable in python"
print(string)
# string[2]="T"
# print(string)

string
string is immutable in python

TypeError: 'str' object does not support item assignment

In [18]:
a="armaweraDHn"
z="arman"
e="amran"
print(len(e))
print(z)
#print(a.title())
#print(a.find("a",3))
b=a.find("a",2)
c=b+1
print(a.find(a,c))
print(len(a))

5
arman
-1
11

In [25]:
a=input("your name; ")
print(a.title())
print(len(a))
print(a.upper())
print(a.replace("","_"))
print(a.find("r"))
print(a[0:-3:])
print(a.center(len(a)+4,"*"))

your name; arman
Arman
5
ARMAN
_a_r_m_a_n_
1
ar
**arman**

# if else elif and pass statement

In [33]:
a=int(input("enter your age: "))
b=18-a

if a>=18:
#    pass
    print("you are eligible to vote")
else:
    if b==1:
        print(f" you will eligible next year")
    else:
        print(f"you will eligibe after {b} years ")

enter your age: 17
 you will eligible next year

In [38]:
num=int(input("Enter a number: "))
if num==10 :
    print("you win")
elif 20>=num >10 :
    print("little high")
elif 20<=num:
    print("too high")
elif 10>num>=1:    
    print("little low")
elif num<-1:
    print("too low")
else:
    print("try again")

Enter a number: 10
you win

In [8]:
name,age=input("Enter your name with comma separate and age: ").replace(" ","").split(",")
ageint=int(age)

if ageint>=10 and name[0]=="a" or name[0]=="A":
    print("You can watch this movie")
else:
    print("You can't watch this movie")

Enter your name with comma separate and age: arman    , 11
You can watch this movie

In [16]:
name,age=input("Enter your name with comma separate and age: ").replace(" ","").split(",")
ageint=int(age)
if ageint>=10 and name.lower()[0]=="a":
    print("you can watch")
else:
    print("you can't watch")

Enter your name with comma separate and age: Arman02  ,24
you can watch

In [22]:
age=int(input("Enter your age: "))
if age==0:
    print("you can't watch")
elif 1<= age <=3:
    print("hurray,fee........")
elif 4<= age <=10:
    print("150 rupees for your ticket")
elif 11<= age <=60:
    print("250 rupees for your ticket")
elif age >60:
    print("200 rupees for your ticket")
else:
    print("Enter only +ve digit")

Enter your age: -10
Enter only +ve digit

In [36]:
name=input("enter your name: ")
nam=name''''''.
if 'a'or 'A' in name:
    print("a is present in name")
else:
    print("a isn't present")

SyntaxError: invalid syntax (Temp/ipykernel_5128/113444587.py, line 2)

In [27]:
a=input("Enter your name: ")
if a:
    print(f"your name is {a}")
else:
    print("please enter your name")

Enter your name: arman
your name is arman

# loop

In [50]:
a=input("enter string: ")
for i in range(1,3):
    #print(a,",",a,",",a)
    print(f"{a} : {i}")
   #print(a,end=",")

    #print(len(a))

enter string: arman
arman : 1
arman : 2

In [51]:
a=input("your name: ")
i=1
while i<=3:
    #print(a,",",a)
    print(f"{a} : {i}")
    i+=1

your name: arman
arman : 1
arman : 2
arman : 3

In [54]:
num=int(input('Enter any number or digit: '))
i=1
s=0
while i<=num:
    s+=i
    i+=1
print(s)

Enter any number or digit: 10
55

In [75]:
s=0
num=int(input('enter any num: '))
for i in range(1,num+1):
    s+=i
print(f"sum of first {num} numbers are {s}")

enter any num: 5
sum of first 5 numbers are 15

In [5]:
n=input("enter a number: ")
s=0


for i in range(0,len(n)):
    s=s+int(n[i])
print(s)

enter a number: 67
13

In [67]:
n=input("enter a number: ")
s=0
i=0
while i < len(n):
    s=s+int(n[i])
    i+=1
print(s)

enter a number: 154
10

In [6]:
a=(input("Enter a number:  "))
s=0
for i in range(0,len(a)):
    s+=int(a[i])
    print("loop",i,s)
print(f"sum of these number: {s}")

Enter a number:  1548
loop 0 1
loop 1 6
loop 2 10
loop 3 18
sum of these number: 18

In [59]:
name=input("Enter your name: ")
temp=""
for i in range(0,len(name)):
    if name[i] not in temp:
        temp=temp+name[i]
        print(f"{name[i]} : {name.count(name[i])}")

Enter your name: arman
a : 2
r : 1
m : 1
n : 1

In [60]:
name=input("Enter your name : ")
temp=""
i=0
while i < len(name):
    if name[i] not in temp:
        temp+=name[i]
        print(f"{name[i]} : {name.count(name[i])}")
    i+=1

Enter your name : arman
a : 2
r : 1
m : 1
n : 1

In [65]:
for i in range(5):
    print(i,"arman")
    print("hi            \n ")

0 arman
hi

1 arman
hi

2 arman
hi

3 arman
hi

4 arman
hi

In [76]:
sum=0
for i in range(1,11):
    if i%2==0:
        sum+=i
        print("sum of first 10 digit",sum)
print("sum of odd number; ",sum)

sum of first 10 digit 2
sum of first 10 digit 6
sum of first 10 digit 12
sum of first 10 digit 20
sum of first 10 digit 30
sum of odd number;  30

In [98]:
num=input("enter a num: ")
i=0
sum=0
while i < len(num):
    sum=sum+int(num[i])
    i+=1
print("sum",sum)

enter a num: 56464
sum 25

In [95]:
s=0

num=(input("enter a num: "))
for i in range(0,len(num)):
    s=s+int(num[i])
print(s)

enter a num: 564545
29

In [104]:
name=input("Enter your name to check : ")
temp=""
for i in range(0,len(name)):
    if name[i] not in temp:
        temp+=name[i]
        print(f"{name[i]} : {name.count(name[i])}")

Enter your name to check : Arman Mohammad
A : 1
r : 1
m : 3
a : 3
n : 1
  : 1
M : 1
o : 1
h : 1
d : 1

# break and continue

In [6]:
for i in range(1,11):
    if i ==5 or i==8:
        continue
    print(i)

1
2
3
4
6
7
9
10

In [11]:
for i in range(1,11):
    if i ==5:
        break
    print(i)#print before breaking
print(i)#print break statement

1
2
3
4
5

In [22]:
i=0
while i<10:
    if i==4:
        
        break
    i+=1
    
    print(i)

1
2
3
4

# import random to find guess number from user

In [3]:
import random
winning_number=random.randint(1,100)
number=int(input("Enter a number 1 to 100: "))
winning_number=7
guess=1
game_over=False

while not game_over:
    if number==winning_number:
        print(f"you win,in {guess} attempt")
        game_over=True
    else:
        if number < winning_number:
            print("too low")
            #guess+=1
            #number=int(input("guess again: "))
        else:
            print("too high")
        guess+=1
        number=int(input("guess again: "))

Enter a number 1 to 100: 45
too high
guess again: 7
you win,in 2 attempt

In [ ]:
# for i in range(2,11,2):
#     print(i)
num=input("enter a num: ")
for i in range(1,int(num)+1,2):
      print(f"odd number {i}: ",i)

In [46]:
for i in range(10,0,-1):
    print(i)

11
10
9
8
7
6
5
4
3
2
1

# to add digit a number

In [53]:
num=input("entr a num: ")
s=0
for i in num:
    s+=int(i)
print(s)

entr a num: 254
11

In [55]:
num=input("enter a num: ")
s=0
for i in range(len(num)):
    s+=int(num[i])
    print(s)

enter a num: 254
2
7
11

In [66]:
import random
winnig_number=random.randint(1,101)
winning_number=50 
number=int(input("enter a number : "))
game_over=False
guess=1
while not game_over:
    if number == winning_number:
        print(f"you win, in {guess} attempt")
        game_over=True
    else:
        if number < winnig_number:
            print("too low")
            guess+=1
            number=int(input("guess again: "))
        else:
            print("too high")
            guess+=1
            number=int(input("guess again: "))

enter a number : 15
too low
guess again: 45
too low
guess again: 78
too high
guess again: 46
too low
guess again: 96
too high
guess again: 50
you win, in 6 attempt

In [68]:
for i in range(1,11):
    if i == 5 or i ==8:
        continue
    print(i)

1
2
3
4
6
7
9
10

# function

In [77]:
def add_(a,b):
    return a+b
c=4
d=8
print(add_(c,d))
# t=add_(10,58)
# print(add_(58,48))
# print(t)

12

In [84]:
def joint(name1,name2):
    t=name1+ name2
    return t
first=input("name1 : ")
last=input("name2: ")
print(joint(name1,name2))

name1 : aran
name2: moh
mohammad arman

# simple calculator

In [90]:
def add(a,b):
    print(a+b) # we can also use return
def sub(a,b):
    print(a-b)
def mul(a,b):
    print(a*b)
print("choose any in one \n 1:add \n 2:sub \n 3:mul")

a=int(input("first number: "))
b=int(input("second number: "))
choose=int(input("Enter(1,2,3) any one to find : "))
if choose == 1:
    add(a,b)
elif choose == 2:
    sub(a,b)
elif choose == 3:
    mul(a,b)
else:
    print("please enter right digit")

choose any in one
 1:add
 2:sub
 3:mul
first number: 45
second number: 7
Enter(1,2,3) any one to find : 3
315

In [116]:
def name(a):
    return a[6]
c="hi i am arman"
print(name(a))

m

In [123]:
def num(a):
    if a%2==0:
        return"even"
    else:
        return("odd")
        
a=int(input("enter to find even or odd"))
print(num(a))

enter to find even or odd5
odd

In [114]:
def name(a):
    return a[6]
a="hi i am arman"
print(name(a))

m

In [129]:
def is_even(num):
    if num % 2 == 0:
        return True
    
    return False
num=int(input("enter a num: "))
print(is_even(num))

enter a num: 5
False

In [134]:
def even(num):
    return num%2 == 0
n=int(input("enter a num : "))

print(even(num))


def song():
    print("jana gana man")
song()
print(song())

enter a num : 5
False
jana gana man
jana gana man
None

In [143]:
def greater(num1,num2):
    g=(max(num1,num2))
    s=min(num1,num2)
    print(f"{g} is greater than {s}")
first=int(input("Enter fist num: "))
sec=int(input("Enter second num: "))
greater(first,sec)

Enter fist num: 465
Enter second num: 6
465 is greater than 6

In [4]:
import random
winning_number=random.randint(1,100)
winning_number=55
guess=1
number=int(input("Enter a number: "))
game_over=False
while not game_over:
    if number == winning_number:
        print(f"you win , in {guess} attempt")
        game_over=True
    else:
        if number < winning_number:
            print("Too low")
                
        else:
            print("too high")
    guess+=1
    number=int(input("guess again: "))

Enter a number: 58
too high
guess again: 55
you win , in 2 attempt
guess again: 55

In [ ]:
import random
winnig_number=random.randint(1,100)
winnig_number=58
number=int(input("Enter a number: "))
guess=1
game_over=False

while not game_over:
    if number==winnig_number:
        print(f"you win in only {guess} attempt")
        game_over=True
    else:
        if number < winning_number:
            print("too low")
            #guess+=1
            #number=int(input("again guess: "))
        else:
            print("too high")
        guess+=1
        number=int(input("again guess: "))

In [2]:

import random
winnig_number=random.randint(1,100)
winnig_number=58
number=int(input("Enter a number: "))
guess=1
game_over=False

while not game_over:
    if number==winnig_number:
        print(f"you win in only {guess} attempt")
        game_over=True
    else:
        if number < winning_number:
            print("too low")
            #guess+=1
            #number=int(input("again guess: "))
        else:
            print("too high")
        guess+=1
        number=int(input("again guess: "))

Enter a number: 65
too high
again guess: 58
you win in only 2 attempt

# find greatest number among three. using function

In [6]:
def greater(num1,num2,num3):
    if num1 > num2 and num3:
        print(f"{num1} is greater than {num2} and {num3}")
    elif num2 > num1 and num3:
        print(f"{num2} is greater than {num1} and {num3}")
    else:
        print(f"{num3} is greater than {num1} and {num2}")
a=int(input("Enter first num: "))
b=int(input("Enter second num: "))
c=int(input("Enter third num: "))
greater(a,b,c)

Enter first num: 45
Enter second num: 84
Enter third num: 57
84 is greater than 45 and 57

# palindrome

In [16]:
def pal(num):
    a=num[::-1]
    
    if num==a:
        print("yes, number is Palindrome")
    else:
        print("number is not a palindrome")
num=input("enter a number: ")
pal(num)
pal("arman")

enter a number: 125
number is not a palindrome
number is not a palindrome

In [23]:
def pal_num(num):
    
    
    return num == num[::-1] # to check string or number is
                        #palindrome or note


#num=input("Enter a number: ")
print(pal_num("121"))
print(pal_num("arman"))

True
False

# fibonacci series

In [26]:
def fibonacci(num):
    if num == 0 or num == 1:
        return num
    else:
        return (fibonacci(num-1) + fibonacci(num-2))
nterm=int(input('enter a num: '))
for i in range(nterm):
    print(fibonacci(num))

enter a num: 5

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [33]:
def fibonacci(num):
    a=0
    b=1
    if num == 0:
        print(a)
    elif num == 1:
        print(b)
    else:
        for i in range(num-2):
            c=a+b
            a=b
            b=c
            print(b,end=" ")
num=int(input("Enter a num:"))
fibonacci(num)

Enter a num:10
1 2 3 5 8 13 21 34

# default parameter

In [26]:
# def detail(name,cource="b.Tech"):
#     print(f"your name is {name} and you are pursuing {cource}")
    
# name=input("enter your name: ")
# detail(name)    


def detail_college(c_name,s_name,duration,cource="B.tech"):
    
    print(f"your cource duration is {duration} yrs")
    print(f"your college name is {c_name}")
    print(f"your name is {s_name} and you are pursuing {cource}")
c=input("Enter your college name: ")
n=input("Enter your name: ")
d=int(input("Enter your cource duration: "))
detail_college(c,n,d)

Enter your college name: NIET,Noida
Enter your name: Mohammad Arman
Enter your cource duration: 4
your cource duration is 4 yrs
your college name is NIET,Noida
your name is Mohammad Arman and you are pursuing B.tech

# scope

In [41]:
c=450
def func():
    global x
    x=50
    print(x)
def func1():
    print(c)
func1()
    
func()
print(x)

print(x)

450
50
50
50

# list

In [75]:
# a=['a',2,"word"]
# b=[4,5,8,1,2]
# mix=['a',2,"word",4,5,8.5,1,2]
# # print(b)
# # print(a)

# # print(len(mix))
# # print(mix[2:6:2])
# #l=lambda()
# #mix[1]="arman"
# mix[1]=["arman","firdosh","wasim"]
# print(mix)
# print(mix[:3])
# print(len(mix))

# # n=None
# # print(type(n))
# fruits=["grapes","apple","mango"]

# fruits.append("banana")
# print(fruits)
# f=[]
# f.append("apple")
# f.append("banana")
# print(f)
f=["apple"]
f.extend("mango")
print(f)

['apple', 'm', 'a', 'n', 'g', 'o']

# insert , append , insert

In [82]:
n=["arman","niet","csds"]
# n.append("engineer")
# n.insert(0,"mohammad")  # if we give out of range index 
# print(n)              #then by default go in last
m=["arman","niet","csds"]
#n.append(m) #append is similar to extend but in append,
n.extend(m) # append join with list under list or not
print(n) # while extend join without any list

['arman', 'niet', 'csds', 'arman', 'niet', 'csds']

# delete, pop, remove

In [94]:
n=["arman","niet","csds"]
#pop
#n.pop()# by default remove from last if no any index given
# n.pop(1)# remove first index value
# print(n)

#del
# del n[1] # takes index then remove
# print(n)

#remove
n.remove("niet") # to use for remove particular value
print(n) # if value give out of box then error occur

['arman', 'csds']

# to check data ,count , sort ,clear,copy,method

In [115]:
a=["23","arman","niet","86","csds","arman","Noida"]
# if "arman" in a:
#     print("present")
# else:
#     print("not present")
# #print(a.count("arman"))
# b=["23","arman","niet","86","csds","arman","Noida"]

# a.sort()
# print(a)
# print(sorted(b)) #print 1 digit then 2 block then last small letter
# a.clear() # give empty list
a.copy()
print(a)

['23', 'arman', 'niet', '86', 'csds', 'arman', 'Noida']

# comparare "==", "is"

In [25]:
# a=["apple","orange","grapes"]
# c=["apple","orange","grapes"]
# b=["banana","peer","apple","kiwi"]
# #b != c and a == b # "==" is checked only value same or not
# # a is c # "is" checked memory location
# d="arman".split(",")
# #b=a.split(",")
# print(d)

# split , join

In [32]:
# f="apple,orange,grapes".split(",")
# print(f)
# name,age="arman,18".split(",")
# print(name)
# print(age)

# join
name=["arman","faishal","wasim"]
print(','.join(name))
a=["ar","ma","n"]
print(','.join(a))

arman,faishal,wasim
ar,ma,n

# diff b/w list and aray

In [37]:
""" array use in c , c++ and java(only store in ,single data)
list use in python:store any data
array module(python)= fix data type(good performance)
javascript array = python list ( almost similar)
array, list = oreder collection of items """

' array use in c , c++ and java\n,list \n= oreder collection of items '

# list  vs strings

In [44]:
# string are immutable in python (in ruby mutable)
# list are mutable
a="arman"
# print(a.title())
# b=(a.title())
# print(a)
# print(b)
w=["word1","word2","word3"]
w1=["arman","ishu","arnav"]
w.pop()
w.append("word4")
w.pop()
w.extend(w1)
print(w)

['word1', 'word2', 'arman', 'ishu', 'arnav']

# for and while (in list)

In [72]:
w=["word1","word2","word3",["arman","ishu","arnav"]]
w1=["arman","ishu","arnav"]
# for i in w:

#     print(i*2,end = " ")
i=0
while i < len(w):
    print(i,w[i])
    i+=1

0 word1
1 word2
2 word3
3 ['arman', 'ishu', 'arnav']

In [101]:
char=["a","b","c","d","e","f","g"]
# i=0
# while i < len(char):
#     print("index",i,"=",char[i])
#     i+=1
name="arman",
# i=0
# while i < len(name):
#     print("index",i,"=",name[i])
#     i+=1
#     print(type(name))

In [114]:
#w=[["word1","word2","word3"],["arman","ishu","arnav"],["niet","galgotia"]]

w=[[1,2,3],[4,5,6],[7,8,9]] # 2d list
# for i in w:
#     for j in i:
#         print(i)
# for sublist in w:
#     for i in sublist:
#         print(i)
print(w[0][2],w[1][2])
print(type(w))

3 6
<class 'list'>

In [100]:
w=[[1,2,3],[4,5,6],[7,8,9],[1,2,3],[4,5,6],[7,8,9],["a","b","c","d","e","f","g"]]
for i in w:
    for j in i:
        print(j,end =" ")

1 2 3 4 5 6 7 8 9 1 2 3 4 5 6 7 8 9 a b c d e f g

# range in list

In [11]:
num=list(range(1,11))
num2=list(range(11,21))
#print((num + num2))
(num.pop())
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9]