In [2]:
a = 10
b = 10
print(id(a), id(b))

2057156717136 2057156717136

# memory location

In [7]:
c = "arman"                         # in python memory allocation by data not by variable
d = 'arman'                          # in other languages memory allocated by variables
e = 'Arman'  
print(id(c), id(d), id(e))

2057237348848 2057237348848 2057236702000

# concatination

In [27]:
a = "arman"
b = 5
print(str(b) +" "+ a)
print(f"{a} and {b} ")

5 arman
arman and 5

# operator

In [10]:
"""
/ division
% (modulo) remainder
// use for get only integer quotient 

"""

'\n/ division\n% (modulo) remainder\n// use for get only integer quotient \n\n'

6

In [13]:
lst = [45,54,868,'arman']
print("arman" in lst)
print(lst[1])

True
54

# identity

In [16]:
x = 10
y = 10
print(x is y, x ==y)

True True

# bitwise

In [ ]:
'''
0 means False
1 means True
'''

In [47]:
x = 10
y = 8
print(bin(x) ," ", bin(y))
print("\n")
print(bin(x&y),x&y)
print(bin(x or y)," ", bin(x|y)) # | means or 
print("\n")
print(bin(x ^ y))  # in XOR same value convert in zero 0 0 = 0 and 1 1 = 0

0b1010   0b1000


0b1000 8
0b1010   0b1010


0b10

# data type

In [ ]:
""" 
1. Mutable(can be update) :-----  list, dictionary, byte array

2. Immutable(can't be update):------ int, float, complex, tuple, string, set
"""

In [39]:
c = """""hi"""""
print(type(c))
print(len(c))
print(c[0],c[1],c[2],c[3])

<class 'str'>
4
" " h i

# list

In [41]:
lst = ['a','r','m','a','n',18]
len(lst)
print(lst.append(2.5))
lst[1] = 'R'                    #updation
lst[0] = "A"
del lst[3]  
print(type(lst))
lst

None
<class 'list'>

['A', 'R', 'm', 'n', 18, 2.5]

# tuple

In [42]:
# tuple is immutable
# it's faster than list
# it's similar to list
a = 'j'  # it's not a tuple      # it's contain more than one value otherwise not tuple
print(type(a))
b = 'j',
print(type(b))  # it's a tuple

<class 'str'>
<class 'tuple'>

# dictionary

In [ ]:
# mostly use in database
# key values pair and mutanle
# value may be same but key must be different

In [75]:
s = {
    # "key" : "value",
    "name" : "Mohammad Arman",
    "Course" : "B.tech"
}
print(s)
print(s["name"])

{'name': 'Mohammad Arman', 'Course': 'B.tech'}
Mohammad Arman

# set

In [ ]:
# unordered collection of elements and immutable(can't be changed)
# only contain unique element(no duplicates)
# similar to dictionary

In [82]:
s= {10,26,35,1,10}
print((s," ", type(s)))

({26, 1, 10, 35}, ' ', <class 'set'>)

# input

In [88]:
a = float(input("first value: "))
b = float(input("second value: "))
c=a+b
print(c)

first value: 5
second value: 4
9.0

In [91]:
a = eval(input("first value: "))  # handle int or float or binary and convert
b = float(input("second value: "))
c=a+b
print(c)

first value: 0b1010
second value: 10
20.0

# conditional statement

In [ ]:
# keep mind indentation

In [45]:
Range = int(input())
for i in range(Range):
    target,c_score = map(int,input().split())
    output = (target - c_score)
    print(output)

2
12    5
7
45 84
-39

# normal calculator

In [9]:
num1= eval(input("Enter num1: "))
num2= eval(input("Enter num2: "))
choose = int(input("\nchoose operation \npress 1: for add\npress 2: for multiply\npress 3: for divide\n"))
print("**********you entered*********** ",choose)
if choose == 1:
    print(f"sum of input is {num1+num2}")
elif choose == 2:
    print(f"mul of input is {num1*num2}")
elif choose == 3:
    print(f"divide of input is {num1/num2}")
else:
    print("wrong choose\nTry againg")

Enter num1: 5
Enter num2: 2

choose operation
press 1: for add
press 2: for multiply
press 3: for divide
1
**********you entered***********  1
sum of input is 7

In [47]:
num1= eval(input("Enter num1: "))
num2= eval(input("Enter num2: "))
while True:
    choose = (input("\nchoose operation \npress +: for add\npress *: for multiply\npress /: for divide\n"))
    print("**********you entered*********** ",choose)
    if choose == "+":
        print(f"sum of input is {num1+num2}")
    elif choose == "*":
        print(f"mul of input is {num1*num2}")
    elif choose == "/":
        print(f"divide of input is {num1/num2}")
    else:
        print("wrong choose\nTry againg")
        break;

Enter num1: 25
Enter num2: 45

choose operation
press +: for add
press *: for multiply
press /: for divide
+
**********you entered***********  +
sum of input is 70

choose operation
press +: for add
press *: for multiply
press /: for divide
*
**********you entered***********  *
mul of input is 1125

choose operation
press +: for add
press *: for multiply
press /: for divide
-
**********you entered***********  -
wrong choose
Try againg

# loop

In [50]:
i = 10
while i>=0: # infine loop if use True
    print("iteration:",i," 2 * ",i,"= ",2*i)
    i=i-1
print("last iteration within the loop",i)

iteration: 10  2 *  10 =  20
iteration: 9  2 *  9 =  18
iteration: 8  2 *  8 =  16
iteration: 7  2 *  7 =  14
iteration: 6  2 *  6 =  12
iteration: 5  2 *  5 =  10
iteration: 4  2 *  4 =  8
iteration: 3  2 *  3 =  6
iteration: 2  2 *  2 =  4
iteration: 1  2 *  1 =  2
iteration: 0  2 *  0 =  0
last iteration within the loop -1

In [28]:
for i in range(10,0,-1):
    print("2 * ",i,"=",2*i)
    
print(i)

2 *  10 = 20
2 *  9 = 18
2 *  8 = 16
2 *  7 = 14
2 *  6 = 12
2 *  5 = 10
2 *  4 = 8
2 *  3 = 6
2 *  2 = 4
2 *  1 = 2
1

In [34]:
i = 1
while i <=10:
    print(i,": within loop")
    i+=1
print("outside loop",i)

1 : within loop
2 : within loop
3 : within loop
4 : within loop
5 : within loop
6 : within loop
7 : within loop
8 : within loop
9 : within loop
10 : within loop
outside loop 11

In [33]:
for i in range(10):
    print("within loop ",i)
print("last value outside looop",i)

within loop  0
within loop  1
within loop  2
within loop  3
within loop  4
within loop  5
within loop  6
within loop  7
within loop  8
within loop  9
last value outside looop 9

# String slicing

In [60]:
#slicing :--- left to right --- start from 0 to len-1
# slicing:--- right to left---- start from -1 to -len
a = "arman from india"
print(a[1:4+1])
print(a[-1::-1]) # reverse the string
print(a[-16::])
print(a[-2:])

rman
aidni morf namra
arman from india
ia

In [58]:
lst = [1,2,36,4,8,7,9,40]
print(lst[1::2])

[2, 4, 7, 40]

In [77]:
# how to reverse
s="My name"
s=s[-1::-1]
t=len(s)
print(len(s))
for i in range(t):
    print(i,s[i])

7
0 e
1 m
2 a
3 n
4
5 y
6 M

In [79]:
# how to reverse
s="My name"
for i in range(len(s)-1,-1,-1):
    print(i,s[i])

6 e
5 m
4 a
3 n
2
1 y
0 M

In [85]:
# first reverse the string then looping
s="My name"
s=s[-1::-1]
print(s)
for i in s:
    print(i)

eman yM
e
m
a
n

y
M

In [ ]:
Range = int(input())
for i in range(Range):
    b,p,t=map(int,input().split())
    if (b*p) <= t:
        print("YES")
    else:
        print("NO")

In [ ]:
Range = int(input())
for i in range(Range):
    inp = int(input())
    # output = inp//25
    # f_output = output + 1
    # print(f_output)
    print(int(inp / 25) + (inp % 25 > 0))

# lower(),upper(),title(),capitalize()

In [91]:
name = "mY name is mohammad arman"
print(name.lower())      # all string in small letter
print(name.upper())      # all string capitalize
print(name.capitalize()) # only first string capitalize
print(name.title())      # every string after space capitalize

my name is mohammad arman
MY NAME IS MOHAMMAD ARMAN
My name is mohammad arman
My Name Is Mohammad Arman

# find(),index(),isalpha(),isdigit(),isalnum()

In [100]:
# diff between find() and index() that find() never throws error if value not
#exit instead that show -1 but
#index() throws error (not found)

s = "welcome"
print("el on index",s.find('el'))  # can also check multiple str but show 1st
print("e on index",s.find('e',2))   # here indexing start from 2
print("z on index",s.find('z'))  # by default index -1 if not exit

1
el on index 1
e on index 6
z on index -1

In [101]:
l= [2,5,6]
print(l.index(5))
print(l.index(7))  # throws error

1

ValueError: 7 is not in list

In [ ]:
# isalpha() --- only string then o\p True otherwise False
# isdigit() --- only digit then o\p True otherwise False
# isalnum() --- only digit or character then o\p True otherwise False
# all are should be string digit and string but don't use special charcter

In [111]:
s = "welcome"
x = "welcome2021"
print(s.isalpha())
print(x.isalpha())
print(s.isalpha())  # isalpha() can isalnum()

True
False
True

In [110]:
s = "welcome2021"
x = "welcome"
print(s.isalnum())
print(x.isalnum())

True
True

In [114]:
d = "123"
print(d.isdigit())

True

# chr() and ord()

In [ ]:
# both work on ASCII 
# chr() take only integer value ,it's  take only arguement
# ord() take only string , it's take only one arguement

In [128]:
print(chr(93,))
print(ord("A",))

]
65

In [132]:
name = """Arman hi how are you"""
print(ascii(name))

'Arman hi how are you'

# format specifier

In [139]:
_1st = "Welcome to {fname}, {lname}".format(fname="India",lname="Indian")
print(_1st)
_2nd = "welcome to {0}, {1}".format("india","lankan")
print(_2nd)
_3rd = "Welcome to {}, {}".format("india","hi")
print(_3rd)
name = "India"
_4th = f"Welcome to {name}"
print(_4th)

Welcome to India, Indian
welcome to india, lankan
Welcome to india, hi
Welcome to India

In [5]:
e =  "Welcome {b} to {a} ".format(a=30, b=20)  
w = "Welcome {b:10} to {a} ".format(a=30, b=20)  
a =  "Welcome {b:^10} to {a} ".format(a=30, b=20) 
c =  "Welcome {b:>10} to {a} ".format(a=30, b=20)  
d = "Welcome {b:<10} to {a} ".format(a=30, b=20) 
print(e)  # noraml print
print(w) # 8 space leave
print(a)  # 4 space leave both side
print(c)   #8 space leave in left side
print(d)   #8 space leave in right side

Welcome 20 to 30
Welcome         20 to 30
Welcome     20     to 30
Welcome         20 to 30
Welcome 20         to 30

In [24]:
a = "a {a:-5} b {b:5}".format(a=5,b=12)
name = "Arman"
b = f" name {name}"
c = "college {} in {} , delhi".format("niet","Gr noida")
d = "college {1} in {0} , delhi".format("niet","Gr noida")
print(b)
print(a)
print(c)
print(d)

 name Arman
a     5 b    12
college niet in Gr noida , delhi
college Gr noida in niet , delhi

# list and nested list

In [17]:
l=[1,23,4,[5,6]]
print(len(l))
print(l[3][1])
type(l)

4
6

list

In [36]:
lst = [1,2,3,4,5,6,[7,8,9]]
l1 = (lst[1::2])
l2 = lst[6]
print(l1)
print(l2)
print(l1 + l2)

[2, 4, 6]
[7, 8, 9]
[2, 4, 6, 7, 8, 9]

# iteration on list

In [55]:
l = [10,20,30,40,50,60,70]
for i in range(len(l)):
    print(l[i])
print(" ")
for i in range(len(l)-1, -1,-1):  # to print in reverse
    print(l[i])

10
20
30
40
50
60
70

70
60
50
40
30
20
10

# list comprehention

In [57]:
l=[]
for i in range(1,101):
    if i%2==0:
        l.append(i)
print(l)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [59]:
lst = [i for i in range(1,101) if i%2==0]
print(lst)
st = "Mohammad Arman"  # iteration on string
lt = [i for i in st]
print(lt)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
['M', 'o', 'h', 'a', 'm', 'm', 'a', 'd', ' ', 'A', 'r', 'm', 'a', 'n']

In [61]:
lst = [i for i in range(1,101) if i % 2==0 and i%5==0]
print(lst)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

# del, pop(), remove(), clear()

# del -- del list_name[index]

In [65]:
l = [10,20,30,40,50,60,70,"s"]
print(l)
del l[0]  # del<-- pass index then del but not return
print(l)

[10, 20, 30, 40, 50, 60, 70, 's']
[20, 30, 40, 50, 60, 70, 's']

# pop() ---> list_name.pop(index)

In [68]:
l = [10,20,30,40,50,60,70,"s"]
print(l)
l.pop(0) # it's similar to del
print(l)
print(l.pop(0))  # it's also which data delete

[10, 20, 30, 40, 50, 60, 70, 's']
[20, 30, 40, 50, 60, 70, 's']
20

# remove ---> list_name.remove(element)

In [69]:
l = [10,20,30,40,50,60,70,"s"]
print(l)
l.remove(10)  # it's take element doesn't index
print(l)

[10, 20, 30, 40, 50, 60, 70, 's']
[20, 30, 40, 50, 60, 70, 's']

# clear() --->  list_name.clear()

In [70]:
l = [10,20,30,40,50,60,70,"s"]
print(l)
l.clear()
print(l)

[10, 20, 30, 40, 50, 60, 70, 's']
[]

# update ---> list_name[index] = element

In [71]:
l = [10,20,30,40,50,60,70,"s"]
print(l)
l[0] = 100
print(l)

[10, 20, 30, 40, 50, 60, 70, 's']
[100, 20, 30, 40, 50, 60, 70, 's']

# insert() ---> list_name.insert(index,element)

In [75]:
l = [10,20,30,40,50,60,70,"s"]
print(l)
l.insert(0,150)  # not any deletion here but only change index and element
print(l)  
l.insert(10,300)# if pass over index then value will put on last index
print(l)

[10, 20, 30, 40, 50, 60, 70, 's']
[150, 10, 20, 30, 40, 50, 60, 70, 's']
[150, 10, 20, 30, 40, 50, 60, 70, 's', 300]

# append() ---> list_name.append(element)

In [77]:
l = [10,20,30,40,50,60,70,"s"]
print(l)
l.append(100)  # by default element add in last
print(l)
n = ["arman",18,628]
l.append(n)
print(l)

[10, 20, 30, 40, 50, 60, 70, 's']
[10, 20, 30, 40, 50, 60, 70, 's', 100]
[10, 20, 30, 40, 50, 60, 70, 's', 100, ['arman', 18, 628]]

# extends()

In [78]:
l = [10,20,30,40,50,60,70,"s"]
print(l)
l.extend([10,60])
print(l) # in append() data add with list but here only element add

[10, 20, 30, 40, 50, 60, 70, 's']
[10, 20, 30, 40, 50, 60, 70, 's', 10, 60]

# count() , max(), min()

In [113]:
l = [10,20,30,40,10,50,60,70.5] # doesnot combine string otherwise error
print("how much time 10 occure: ",l.count(10))  # count() basically count that how much time occur
print("max: ",max(l))
print("min: ",min(l))

print(max(lst))

how much time 10 occure:  2
max:  70.5
min:  10
sorted list:  ['5', '5.0', 'ARMAN', 'ARman', 'ArmaaN', 'Arman', 'arman']
arman

# sort(), reverse(),index()

In [119]:
# sort()----------------------------
lt = [1,5,2,1.2,8,6,9]
lt.sort()
print("sorted list: ",lt)

lst = ["arman","Arman","ARMAN","ARman","ArmaaN","5","5.0"]
lst.sort() 
print("sorted list: ",lst)

# reverse()  -----------------------------

l = [10,20,30,40,10,50,60,70.5,9931064461]  
(l.reverse())  # reverse all element
print(l)

# index() give info about element on which index ---------------------
lst = ["arman","Arman","ARMAN","ARman","ArmaaN","5","5.0"]
a = lst.index("arman")
print(a)

sorted list:  [1, 1.2, 2, 5, 6, 8, 9]
sorted list:  ['5', '5.0', 'ARMAN', 'ARman', 'ArmaaN', 'Arman', 'arman']
[9931064461, 70.5, 60, 50, 10, 40, 30, 20, 10]
0

# zip()

In [ ]:
# zip with use list and tuple.
# using zip() we can iterate two or more list\tuple at the same time.

In [2]:
l1 = [10,20,30,40,50]
l2 = [1,2,3,4]

for i,j in zip(l1,l2): # element of l1 in i and l2 element in j
    print(i,j)        # print with corresponding element

10 1
20 2
30 3
40 4

In [5]:
# without zip ()
l1 = [10,20,30,40]
l2 = [1,2,3,4,5]
for i in range(len(l1)): # if len() of l1 is greater than l2 then error show.
    print(l1[i],l2[i])

10 1
20 2
30 3
40 4

In [23]:
# zip with tuple
l1 = 10,20,30,40,
l2 = (1,2,3,4)
for i,j in zip(l1,l2):
    print(i,j)
print(type(l1))

10 1
20 2
30 3
40 4
<class 'tuple'>

# string to list

In [16]:
u_input = input("Enter string: ")
l=u_input.split()  # single string convert in list
print(l)

Enter string: kj j
['kj', 'j']

In [21]:
l = []
for i in range(1,4):
    inp = input("Enter the value: "+str(i)+" : ")
    l.append(inp)
print(l)

Enter the value1 : ar
Enter the value2 : ma
Enter the value3 : n
['ar', 'ma', 'n']

# implement a stack and queue using a list data type

In [28]:
l = []

while True:
    c = int(input(""" 
    1: push elements
    2: pop elements
    3: peek elements
    4: Display stack
    5: exit\n"""))
    if c==1:
        n = input("Enter the value: ")
        l.append(n)
        print(l)
    elif c==2:
        if len(l)==0:
            print("Empty stack")
        else:
            p=l.pop()
            print(p)
            print(l)
    elif c==3:
        if len(l) == 0:
            print("Empty stack")
        else:
            print("last stack value: ",l[-1])
    elif c==4:
        print("Display stack: ",l)
    elif c==5:
        break;
    else:
        print("invalid choice....")

    1: push elements
    2: pop elements
    3: peek elements
    4: Display stack
    5: exit
1
Enter the value: 10
['10']

    1: push elements
    2: pop elements
    3: peek elements
    4: Display stack
    5: exit
1
Enter the value: 20
['10', '20']

    1: push elements
    2: pop elements
    3: peek elements
    4: Display stack
    5: exit
50

    1: push elements
    2: pop elements
    3: peek elements
    4: Display stack
    5: exit
3
last stack value:  20

    1: push elements
    2: pop elements
    3: peek elements
    4: Display stack
    5: exit
2
20
['10']

    1: push elements
    2: pop elements
    3: peek elements
    4: Display stack
    5: exit
4
Display stack:  ['10']

    1: push elements
    2: pop elements
    3: peek elements
    4: Display stack
    5: exit
5

In [29]:
l = []

while True:
    c = int(input(""" 
    1: push elements
    2: pop elements
    3: front elements
    4: last elements
    5: Display Queue
    6: exit\n"""))
    if c==1:
        n = input("Enter the value: ")
        l.append(n)
        print(l)
    elif c==2:
        if len(l)==0:
            print("Empty queue")
        else:
            del l[0]
            print(p)
            print(l)
    elif c==3:
        if len(l) == 0:
            print("Empty queue")
        else:
            print("last queue value: ",l[0])
    elif c==4:
        print("last element of queue: ",l[-1])
    elif c == 5:
        print("Display queue: ",l)
    elif c==6:
        print("*********exit ********* exit**********")
        break;
    else:
        print("invalid choice....")

    1: push elements
    2: pop elements
    3: front elements
    4: last elements
    5: Display Queue
    6: exit
1
Enter the value: 10
['10']

    1: push elements
    2: pop elements
    3: front elements
    4: last elements
    5: Display Queue
    6: exit
1
Enter the value: 20
['10', '20']

    1: push elements
    2: pop elements
    3: front elements
    4: last elements
    5: Display Queue
    6: exit
1
Enter the value: 30
['10', '20', '30']

    1: push elements
    2: pop elements
    3: front elements
    4: last elements
    5: Display Queue
    6: exit
2
20
['20', '30']

    1: push elements
    2: pop elements
    3: front elements
    4: last elements
    5: Display Queue
    6: exit
3
last queue value:  20

    1: push elements
    2: pop elements
    3: front elements
    4: last elements
    5: Display Queue
    6: exit
4
last element of queue:  30

    1: push elements
    2: pop elements
    3: front elements
    4: last elements
    5: Display Queue
    6: exit
5
Display queue:  ['20', '30']

    1: push elements
    2: pop elements
    3: front elements
    4: last elements
    5: Display Queue
    6: exit
6
*********exit ********* exit**********

# Dictionary

In [ ]:
# unordered collection of data 
#uniquw key : value pair and  difine in {} and it's muttalble

In [35]:
d = {
    'name':"python",
    'fees':8000,
    "duration": '2 months',
}
print(d)
print(d['fees'])

{'name': 'python', 'fees': 8000, 'duration': '2 months'}
8000

In [41]:
for i in d:
    print(i,d[i]) # i gives key and d[i] gives value
    print(i)  # return key
    print(d[i])  # return value

name python
name
python
fees 8000
fees
8000
duration 2 months
duration
2 months

# function with Dictionary

In [ ]:
# 1: get() <--- pass key and get value
# 2: key()
# 3: values()
# 4: items()

# get(), key(), values(), items()

In [56]:
d = {
    'name':"python",
    'fees':8000,
    "duration": '2 months',
}
n=d.get('name')  # using get()
m = d['name']  # logical
print(n)
print(m)

python
python

In [47]:
d = {
    'name':"python",
    'fees':8000,
    "duration": '2 months',
}
for i in d.keys():  # getting keys
    print(i)
print("\n")

for i in d.values(): # getting values
    print(i)

name
fees
duration


python
8000
2 months

In [48]:
d = {
    'name':"python",
    'fees':8000,
    "duration": '2 months',
}
for i,j in d.items():
    print(i,j)

name python
fees 8000
duration 2 months

# del, pop() using keys

In [51]:
d = {
    'name':"python",
    'fees':8000,
    "duration": '2 months',
}
del d['fees']
print(d)

{'name': 'python', 'duration': '2 months'}

In [58]:
# pop() do delete with return output
d = {
    'name':"python",
    'fees':8000,
    "duration": '2 months',
}
print(d.pop('fees'))
print(d)

8000
{'name': 'python', 'duration': '2 months'}

# dict(),update(), clear(),insert()

In [61]:
a = dict(name='python',fees=8000,duration='2 months')
print(a)
a.update({'fees':10000})
print(a)

{'name': 'python', 'fees': 8000, 'duration': '2 months'}
{'name': 'python', 'fees': 10000, 'duration': '2 months'}

In [62]:
d = {
    'name':"python",
    'fees':8000,
    "duration": '2 months',
}
d.clear()
print(d)

{}

In [64]:
d = {
    'name':"python",
    'fees':8000,
    "duration": '2 months',
}
d['fees'] = 10000  # values can update without using udate func
d['desc']="This is Python"
print(d)

{'name': 'python', 'fees': 10000, 'duration': '2 months', 'desc': 'This is Python'}

# nested dictionay

In [8]:
course = {
    'java' : {'fees':"10000",'duration':"2 months" },
    "python" : {'fees':"10000",'duration':"3 months"},
    'english': {'fees': "8000","duration": '1.5 months'}
}
print(course)
print(course['python'])
for i in course:
    print(course[i])
for i,j in course.items():
    print(i,j)

{'java': {'fees': '10000', 'duration': '2 months'}, 'python': {'fees': '10000', 'duration': '3 months'}, 'english': {'fees': '8000', 'duration': '1.5 months'}}
{'fees': '10000', 'duration': '3 months'}
{'fees': '10000', 'duration': '2 months'}
{'fees': '10000', 'duration': '3 months'}
{'fees': '8000', 'duration': '1.5 months'}
java {'fees': '10000', 'duration': '2 months'}
python {'fees': '10000', 'duration': '3 months'}
english {'fees': '8000', 'duration': '1.5 months'}

In [14]:
for i,j in course.items():
    print(i,j['duration'],j['fees'])

java 2 months 2000
python 3 months 10000

In [16]:
course['java']['fees'] = 2000
print(course)
del course['python']
print(course)

{'java': {'fees': 2000, 'duration': '2 months'}, 'python': {'fees': '10000', 'duration': '3 months'}}
{'java': {'fees': 2000, 'duration': '2 months'}}

# tuple

In [ ]:
# sequence(ordered) data type, immutable
# use to make something constant

In [54]:
t = (4,2,5,6,7)
for i in t:
    print(i,end=",")

4,2,5,6,7,

# tuple <----- min(), max(), sum(), index(), sum()

In [64]:
t = (4,2,5,6,5,7)
print(min(t))
print(max(t))
print(sum(t))
print(t.count(5))
print(t.index(5))

2
7
29
2
2

# set() <--- pop(), add(), pop(),remove(),clear(),discard(),update()

In [ ]:
# unique element, {} 
# remove()<--- if the item to remove doesn't exit, remove will raise an error.
#discard()<---if the item to remove doesn't exit,discard willn't raise an error
# note:-- set the element according to ascii values

In [85]:
s={10,20,30,4,5,6,8,9}
print(s)
s.discard(50) # not raise any error
s.remove(10) #
print(s.pop()) # 
print(s.pop())
print(s)
print(s.clear()) # clear use in set and dictionay and list

{4, 5, 6, 8, 9, 10, 20, 30}
4
5
{6, 8, 9, 20, 30}
None

In [97]:
l=[10,20,30,4,5,6,8,9]
s=set(l)
for i in s:
    print(i,end=' ')
print(type(s))

4 5 6 8 9 10 20 30 <class 'set'>

In [98]:
l={10,20,30,4,5,6,8,9}
l2= [12,45,32,10,8,9]
(l).update((l2))
print(l)

{32, 4, 5, 6, 8, 9, 10, 12, 45, 20, 30}

# Function

In [3]:
def p():
    print("arman")
p()

arman

In [13]:
def sum(a,b):
    print(f"Sum of a:{a} and b:{b}: ",a+b)
a = eval(input("Enter value a: "))
b = eval(input("Enter value b: "))
sum(100,500)  # depends on which values are passing

Enter value a: 4
Enter value b: 45
Sum of a:100 and b:500:  600

In [20]:
def default(a,b=5):
    print(f"sum of a{a} and b{b} : ",a+b)
a=10
default(5)

sum of a5 and b5 :  10

In [25]:
def sum(a,b=10):
    c = a+b
    if c > 50:
        print("greater")
    else:
        print("no")
    #return c
# output = sum(15)
# print("sum",output)
sum(15)

no

In [28]:
# return statemnt
def sum(a,b = 15):
    c = a+b
    return c * c
# output = sum(15)
# print("output",output)
sum(12)

729

In [16]:
def add(num_1, num_2=5):
    
    num_1 = eval(input("Enter num1 : "))
    num_2 = eval(input("Enter num2 : "))
    s= num_1 + num_2
    #print("sum: ",s)
    return s
    
sum=add(num1,num2)
print(sum)

Enter num1 : 5
Enter num2 : 4
9

# Module

In [32]:
#import math
from math import * # call all function
print(sqrt(9))

3.0

In [33]:
import math as m
print(m.sqrt(7))

2.6457513110645907

In [42]:
import pandas as pd
import numpy as np

def my_func(inpt):
    size = len(inpt)
    return np.sum(inpt)/size

In [66]:
import math
math.ceil(10.00000000000000009)

10

# math <----- ceil() . (next integer),

In [67]:
import math
math.ceil(10.00000000000000009)

10

# fabs()  , only +ve value float

In [70]:
print(math.fabs(-10))

10.0

# factorial

In [71]:
math.factorial(5)

120

In [8]:

def factorial (num):
    return 1 if (num == 0 or num == 1)else num * factorial(num-1);
num = 5
print(factorial(num))

120

# floor <--- gives privious integer

In [4]:
import math
math.floor(10.5)

10

# fsum() <--- return sum of list/list in float

In [26]:
import math
lst = (10,36,25,78)
lst_ = 5
print(math.isnan(lst_))
print(math.fsum(lst))

False
149.0

# sqrt

In [39]:
print(math.isqrt(26))
print(math.trunc(50.240))
print(math.tanh(145))
print(math.pow(5,10))

5
50
1.0
9765625.0

In [19]:
print(math.gcd(16,4,8))

4

In [20]:
print(math.log10(5))

0.6989700043360189

# random randint()

In [ ]:
# random.randint()
# random.randrange(5,10)

# random.choice(l) # take a list and throw random output 

#random.random() # only 0 to 1 float value
# random.uniform(1,100) take a range and give random value in float

# random.shuffle() # take a list and shuffle them

In [46]:
import random
print(random.randint(5,10))  # 5 to 10
print(random.randrange(5,10)) # 5 to 9

9
6

In [51]:
l = ["apple","mango","others"]
print(random.choice(l))

apple

In [56]:
import random
def rand():
    print(random.randint(1,100))
(rand())

23

In [58]:
r = random.random() # only 0 to 1 float value
print(r)

0.6059821556177519

In [64]:
L = [10,50,78,45]
random.shuffle(L)
print(L)

[10, 45, 78, 50]

In [73]:
u = random.uniform(1,1000000000000000) # gives float value
print(u)

807448503832158.8

# Datetime

In [79]:
import datetime
x = datetime.datetime.now()
print(x)
print(datetime.datetime(2022,10,13))

2022-10-13 20:10:17.492805
2022-10-13 00:00:00

In [91]:
# strftime()
import datetime
now = datetime.datetime.now()
year = now.strftime( "%Y") # take only one arguement
print(year)

2022

# Number guessing game

In [105]:
import random
r_value = random.randint(1,5)
#u_input = eval(input("Enter your number should be 1 to 100: "))
while True:
    u_input = eval(input("Enter your number should be 1 to 100: "))
    if u_input > r_value:
        print(u_input ,"is greater than ", r_value)
    elif u_input < r_value:
        print(u_input ,"is less than ", r_value)
    else:
        print("congrats, you win")
        print("your input is ",u_input, " and random input is also ", r_value)
        break

Enter your number should be 1 to 100: 2
2 is greater than  1
Enter your number should be 1 to 100: 1
congrats, you win
your input is  1  and random input is  1

In [111]:
import random
l = ["Rock","paper","scissor"]
comp_random = random.choice(l)
#print(comp_random)

while True:
    
    print("you have to choice any one as like as mention below")
    print("1. Rock\n2. paper\n3. scissor")
    
    user_choice =  str(input("Enter your choice: "))
    
    if comp_random == "",user_choise:

paper

# pickle

In [ ]:
"""
Booleans
integers
floats
complex numbers
(normal and unicode) Strings
Tuples
Lists
Sets, and
Dictionaries.  """
#two function

#dump() <--- serialize the data... syntax: dump(obj,file)

In [7]:
import pickle
l = [10,20,30,40]
file = open("program_ws.txt","wb")  # wb >--- write binary
pickle.dump(l,file)
file.close()

In [6]:
import pickle

file = open("program_ws.txt","rb")
# the load() takes a file object,reconstruct the objects from the pickled
l = pickle.load(file)
print(l)

[10, 20, 30, 40]

In [11]:
import pickle
f = ["arman","firdosh","wasim","faishal"]
file_ = open("program_ws.txt","a")
pickle.load(f,file_)
file_.close()

TypeError: write() argument must be str, not bytes

# JSON(java Script Object Notation)<-- use in back end

In [ ]:
#it is mainly used for storing and transferring data b\w the browser and the
#server.
#JSON is text, written with Java script object notation.
#Python too supports json with a built-in package called json.
# import json

In [ ]:
# json supports.
#string , number, boolean, null, object, array

In [14]:
import json
d = {
    'couse': 'python',
    'fees': 15000
}
f = json.dumps(d)
print(f)
print(type(f))

{"couse": "python", "fees": 15000}
<class 'str'>

In [25]:
import json
dic= '{"course":"python","fees":1000,"duration":"6 months"}' # it's str
x = json.loads(dic) # it's dic
print(dic)
print(type(x))
print(x)
for i in x:
    print(i,x[i])

{"course":"python","fees":1000,"duration":"6 months"}
<class 'dict'>
{'course': 'python', 'fees': 1000, 'duration': '6 months'}
course python
fees 1000
duration 6 months